/*variables*/
:root {
    --gold: #c8ad78;
}

* {
    box-sizing: border-box;
}

.contenedor {
    width: 80%;
    margin: 80px auto 0 auto;
}

.TI {
    height: 75px;
    width: 75px;
}

.ST {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.T {
    line-height: 1;
    font-size: 30px;
    text-transform: uppercase;
}

.CTTC {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.DC {
    width: 24%;
    margin: 0 0.5% 20px 0.5%;
    padding: 15px 20px;
    border: 1px solid var(--gold);
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

.DC a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

.DC:hover {
    border: none;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
    z-index: 1000;
    background: white;
}

.DC .P span {
    font-size: 20px;
    font-weight: 700;
}

.DC .IM {
    border-radius: 10px;
    overflow: hidden;
}

.DC .IM:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.DC .I {
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 1200px) {
    .DC {
        width: 31.33%;
        margin: 0px 0.5% 20px 0.5%;
    }
}

@media (max-width: 640px) {
    .DC {
        width: 100%;
        margin: 0 0 20px 0;
    }
}

.instagram-icon {
    width: 32px; /* Cambia el ancho del icono del footer */
    height: 32px; /* Cambia la altura del icono del footer */
}

.EP {
    margin-top: 100px;
}

.E {
    height: 75px;
}

.ESE {
    text-decoration: none; /* Elimina el subrayado */
      color: inherit; /* Utiliza el color del texto heredado */
}

.accordion-button:not(.collapsed) {
    background-color: inherit; /* Cambia esto al color que desees */
}

.image-portada {
    /* margin-top: 100px; */
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.Im-po {
    width: 100%;
    height: auto;
}

.Espacio {
    margin-top: 50px;
}

.Letras-Titulo-Cartas {
    font-weight: bold; 
    font-size: xx-large;
    color: white; /* Color del texto */
    text-shadow: -1px -1px 0 #000,  
                  1px -1px 0 #000,
                 -1px  1px 0 #000,
                  1px  1px 0 #000; /* Contorno negro */
}

.TamañoCard {
    width: 18rem;
}

.C1 {
    height: 300px; 
    background-image: url('Imagenes/zapatillas.jpg'); 
    background-size: cover; 
    background-position: center;
}
.C2 {
    height: 300px; 
    background-image: url('Imagenes/chaqueta.jpg'); 
    background-size: cover; 
    background-position: center;
}
.C3 {
    height: 300px; 
    background-image: url('Imagenes/ropa.jpg'); 
    background-size: cover; 
    background-position: center;
}
.C4 {
    height: 300px; 
    background-image: url('Imagenes/accesorios.jpg'); 
    background-size: cover; 
    background-position: center;
}

@media (min-width: 576px) {
    .carta-columna {
        flex: 0 0 calc(50% - 10px); /* Esto establece que cada columna ocupe el 50% del ancho con un espacio de 10px entre ellas */
        margin-bottom: 20px; /* Agrega un margen inferior para separar las cartas */
    }
}

@media (min-width: 992px) {
    .carta-columna {
        flex: 0 0 calc(25% - 10px); /* Esto establece que cada columna ocupe el 25% del ancho con un espacio de 10px entre ellas */
    }
}

@media (max-width: 425px) {
    .carta-columna {
        flex: 0 0 calc(100% - 20px); /* Esto establece que cada columna ocupe el 100% del ancho con un espacio de 20px a los lados */
        margin-bottom: 20px; /* Agrega un margen inferior para separar las cartas */
        margin-top: 20px; /* Agrega un margen superior para separar las cartas */
    }
}

@media (min-width: 425px) {
    .row.justify-content-center {
        margin-left: -10px; 
        margin-right: -10px;
    }

    .carta-columna {
        flex: 0 0 calc(50% - 20px);
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media (min-width: 426px) {
    .row.justify-content-center {
        margin-left: -10px; /* Ajusta el margen izquierdo para centrar las cartas */
        margin-right: -10px; /* Ajusta el margen derecho para centrar las cartas */
    }

    .carta-columna {
        flex: 0 0 calc(25% - 20px); /* Esto establece que cada columna ocupe el 25% del ancho con un espacio de 20px entre ellas */
        margin-bottom: 20px; /* Agrega un margen inferior para separar las cartas */
        margin-top: 20px; /* Agrega un margen superior para separar las cartas */
    }
}

.nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}